* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --dark-green: #2D5A27;
  --primary-green: #70AD47;
  --acent-green: #A9D08E;
  --background: #F2F2F2;
  --textcolor: #2D3436;

  --font-global: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
  font-family: var(--font-global);
}

/*! Navbar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 70px;
  height: 80px;

  background-color: var(--dark-green);
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #70AD47;
}

.cart-login {
  display: flex;
  gap: 20px;
}

/*! Main*/

.title-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 500px;
}

.title-nosotros h2 {
  text-align: center;
  font-size: 50px;

  color: var(--dark-green);
}

.title-nosotros p {
  text-align: center;
  font-size: 20px;

  color: var(--acent-green);
}

/*! Footer*/

footer {
  display: flex;
  gap: 40px;



  padding: 50px 70px;

  background-color: var(--dark-green);
  color: var(--acent-green);
}

footer div h4 {
  color: white;
  padding-bottom: 5px;
}

.footer-links {
  list-style: none;
  gap: 8px;

}

.footer-links li {
  padding: 5px 0;
}

.footer-links li a {
  text-decoration: none;
  color: #70AD47;
}

.footer-links li a:hover {
  color: var(--acent-green);
}