 <footer class="footer">
        <div>
            <p>Suplementos alimenticios de la más alta calidad para tu bienestar</p>
        </div>
        <div>
            <h4>Enlaces Rápidos</h4>
            <ul class="footer-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="catalogo-producto.html">Producto</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contactanos.html">Contacto</a></li>
            </ul>
        </div>
        <div>
            <h4>Enlaces Rápidos</h4>
            <ul class="footer-links">
                <li><a href="#">Telefono</a></li>
                <li><a href="#">Correo</a></li>
                <li><a href="#">Direccion</a></li>
            </ul>
        </div>
        <div>
            <h4>Siguenos</h4>
            <ul class="footer-links">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Insta</a></li>
                <li><a href="#">X</a></li>
            </ul>
        </div>
    </footer>