    <nav class="nav">
        <div class="nav-container">

            <p>Vittalium</p>
            
            <button class="menu-btn" id="menuBtn">☰</button>
            <ul class="nav-links" id="navLinks">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="catalogo-producto.html">Producto</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contactanos.html">Contacto</a></li>
            </ul>
        
            <div class="cart-login">
                <button>Login</button>
                <Button>Carrito</Button>
            </div>
        </div>    
    </nav>