<nav class="nav">
    <div class="nav-container">
        
        <!-- Logo con hipervínculo al inicio -->
        <a href="index.html" class="logo-link">
            <img src="../img/vittaliumClaro.png" alt="Vittalium Logo" class="logo-img">
            
        </a>
        
        <!-- Botón menú hamburguesa -->
        <button class="menu-btn" id="menuBtn">☰</button>
        
        <!-- Menú de navegación -->
        <ul class="nav-links" id="navLinks">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="catalogo-producto.html">Producto</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="contactanos.html">Contacto</a></li>
        </ul>
        
        <!-- Botones de carrito y login -->
        <div class="cart-login">
            <button>Login</button>
            <a href="#">
                <img src="../img/icono-carrito.png" alt="carrito icon">
            </a>
        </div>
    </div>    
</nav>