<nav class="nav">
    <div class="nav-container">
        <!-- Logo con hipervínculo al inicio -->
        <a href="index.html" class="logo-link">
            <img src="../img/vittaliumClaro.png" alt="Vittalium Logo" class="logo-img">
            
        </a>
        
        <!-- Botón menú hamburguesa -->
        <button class="menu-btn" id="menuBtn">☰</button>
        <!-- Menú de navegación -->
        <ul class="nav-links" id="navLinks">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="catalogo-producto.html">Productos</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="contactanos.html">Contacto</a></li>
        </ul>
        
        <!-- Botones de carrito y login -->
        <div class="cart-login">
            <a href="login.html">
                <img src="../img/icono-login.png" alt="login icon" class="icono-login">
            </a>
            <a href="carrito.html">
                <div class="cart-icon-container" style="position: relative;">
                <img src="../img/icono-carro.png" alt="carrito icon" class="icono-carro">
                <span id="cart-count" class="cart-badge">0</span>
                </div>
            </a>
        </div>
    </div>    
</nav>
